.header
{
	color: black;font-family: 'Amatic SC';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}

.heading_div
{
	background:white;float: none;border-radius: 15px;
}

.copy_right_footer {
	position: fixed;
	color: rgb(0, 0, 0);
	bottom: 0;
	width: 100%;
	background-color:white;
	line-height: 3;
	text-align: center;
  }

  canvas 
{
  border:5px solid white;
  border-radius:20px;
  box-shadow:5px 5px 5px grey;
  margin-top: 150px; 
}

